*.js
!jest.config.js
*.d.ts
node_modules/
jspm_packages/
*.tsbuildinfo
.eslintcache
*.tgz
.yarn-integrity
.cache
.npmrc

/test-reports/
junit.xml
/coverage/
/dist/changelog.md
/dist/version.txt


npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# CDK asset staging directory
.cdk.staging
cdk.out
/lib
.jsii
/dist
tsconfig.json
